.gtextbox 
{
	/*width:100%;*/
}
.gtextarea 
{
	/*width:100%;*/
	height:50px;
}
.gtitle 
{
	/*width:100%;*/
	padding-bottom:6px;
	padding-top:6px;
}
.gtextboxpage
{
	/*width:100%;*/
	line-height:0px;
}
.gtextareapage
{
	/*width:100%;*/
	height:80px;
}
.gtitlepage
{
	/*width:100%;*/
}
.gsmpage
{
	color:#990000;
}